.zag{
     width: 100%;
     text-align: center;
 }

.full-width{
    width: 100%;
}

.myImg{
    width: 100px;
    height: 100px;
    text-align: center;
}

a.big_green_href:link, a.big_green_href:visited, a.big_red_href:link, a.big_red_href:visited {
    color:#336699;
    font-size:50px;
    text-decoration:none;
    }

a.big_green_href:hover {
    color:#3e8f3e;
    font-size:50px;
    text-decoration:none;
     }

a.big_red_href:hover {
    color: darkred;
    font-size:50px;
    text-decoration:none;
}

a.big_green_href:active, a.big_red_href:active {
    color:#ffffff;
    font-size:50px;
    text-decoration:underline;
   }


a.small_green_href:link, a.small_green_href:visited, a.small_red_href:link, a.small_red_href:visited, a.small_black_href:link, a.small_black_href:visited {
    color:#336699;
    font-size:25px;
    text-decoration:none;
}

a.small_green_href:hover {
    color:#3e8f3e;
    font-size:25px;
    text-decoration:none;
}

a.small_red_href:hover {
     color: darkred;
     font-size:25px;
     text-decoration:none;
 }

a.small_black_href:hover {
    color: black;
    font-size:25px;
    text-decoration:none;
}

a.small_green_href:active, a.small_red_href:active, a.small_black_href:active {
    color: #ffffff;
    font-size: 25px;
    text-decoration: underline;
}

.myNav{
   min-width: 550px;
}


.thumbnail {
    width: 380px;
    height: 250px;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
}



