{% extends "default/index.html.twig" %}

{% block title%}
    Add
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

    <form action="{{ path('neuron_work') }}" method="post" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-5">
                    <input required class="form-control" type="text" name="name" value=""  title=""/>
                </div>
        </div>

        {% set value = 'Add' %}
        {% include 'default/button.html.twig' %}
    </form>

{% endblock %}
