{% extends "default/index.html.twig" %}

{% block title%}
    Answer
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}


    <div class="zag">
        <h3>
            Answer
        </h3>
    </div>

{% if objects|length > 0 %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Id</div></th>
            <th><div class="zag">Name</div></th>
        </tr>

            {% for obj in objects %}
                <tr>
                    <td><div class="zag">{{ obj.id }}</div></td>
                    <td><div class="zag">{{ obj.name }}</div></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% else %}

    <div class="alert alert-info">
        The list of answers is empty.
    </div>

{% endif %}

{% endblock %}
