{% extends "default/index.html.twig" %}

{% block title%}
    Expert form
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

{% if symptoms|length > 0 %}

    <form action="{{ path('expert_system') }}" method="post" class="form-horizontal">
        {% for symptom in symptoms %}
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <div class="checkbox">
                        <label><input type="checkbox" name="checked[]" value="{{ symptom.id }}">{{ symptom.name }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% set value = 'Send' %}
        {% include 'default/button.html.twig' %}
    </form>





    <script type="text/javascript">

    </script>


{% else %}

    <div class="alert alert-info">
        The list is empty.
    </div>

{% endif %}

{% endblock %}
