{% extends 'base.html.twig' %}
{% block body %}
    {% block menu %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home_page') }}">Morozov <span class="glyphicon glyphicon-home" aria-hidden="true"></span>

                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">

                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Video-systems<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('list') }}">list</a></li>
                                <li><a href="{{ path('add_form') }}">Add</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expert system<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('expert_form') }}">Start</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('makers') }}">MIT-7 (list of makers)</a></li>
                    </ul>

                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input id="account" type="text" class="form-control" placeholder="Search tweets of ...">
                        </div>
                        <button id="tweets" type="button" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>
        </nav>
        <script>
            $( "#tweets" ).click(function() {
                $(location).attr('href','/twitter/account/'+$('#account').val());
            });
        </script>
    {% endblock %}
{% endblock %}
