{% extends "default/index.html.twig" %}

{% block title%}
    List
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

{% if objects|length > 0 %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Id</div></th>
            <th><div class="zag">Name</div></th>
            <th><div class="zag">Actions</div></th>
        </tr>

            {% for obj in objects %}
                <tr>
                    <td><div class="zag">{{ obj.id }}</div></td>
                    <td><div class="zag">{{ obj.name }}</div></td>

                    <td>
                        <div class="col-sm-12">

                            <div class="col-sm-4">
                                <a href="{{ path('delete_obj',{'id':obj.id}) }}">Delete</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" data-toggle="modal" data-target="#addSymptom{{ obj.id }}">Add symptom</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="{{ path('symptoms',{'id':obj.id}) }}">Show symptoms</a>
                            </div>

                        </div>
                    </td>
                </tr>

                <div class="modal fade" id="addSymptom{{ obj.id }}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color: black">Add symptom</h4>
                            </div>
                            <div  class="modal-body">
                                <form class="form-inline" action="{{ path('add_symptom',{'obj_id': obj.id}) }}" method="post">

                                    {% if symptoms|length > 0 %}

                                        <div class="form-group">
                                            <label for="select{{ obj.id }}">Variants:</label>
                                            <select  class="form-control" id="select{{ obj.id }}" onchange="setMame(this.value,'name{{ obj.id }}')">
                                                {% for symptom in symptoms %}
                                                    <option value="{{ symptom.name }}">{{ symptom.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}



                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input required id="name{{ obj.id }}" type="text" class="form-control" {% if symptoms|length > 0 %} value="{{ symptoms[0].name }}" {% endif %} name="name" title="">
                                    </div>

                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </tbody>
    </table>

    <script type="text/javascript">
        function setMame(val, id) {
            document.getElementById(id).value = val;
        }
    </script>


{% else %}

    <div class="alert alert-info">
        The list is empty.
    </div>

{% endif %}

{% endblock %}
