{% extends "default/index.html.twig" %}

{% block title%}
    Makers
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

{% if makers|length > 0 %}

    <div class="alert alert-info">
        Choose maker.
    </div>

            {% for maker in makers %}
                {% for m in maker %}
                    <a href="{{ path('products',{'name':m}) }}">{{m}}</a><br>
                {% endfor %}
            {% endfor %}
{% else %}
    <div class="alert alert-info">
        The list is empty.
    </div>

{% endif %}

{% endblock %}
