{% extends "default/index.html.twig" %}

{% block title%}
    Answer
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}


    <div class="zag">
        <h3>
            Seems like it's  {% if latin %} latin D{% else %} cyrillic Д{% endif %}.
        </h3>
    </div>

{% endblock %}
