{% extends "default/index.html.twig" %}

{% block title%}
    Add
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <form action="{{ path('neuron_work') }}" method="post" class="form-horizontal">
        {% set index = -1 %}

        {% for i in 0..neuron.countCols-1 %}
            <div class="form-group">

            {% for j in 0..neuron.countRows-1 %}
                {% set index = index + 1 %}
                    <div class="col-sm-1">
                        <input id="input_{{ index }}" onchange='setColor("input_{{ index }}")' required class="form-control" type="number" name="input_{{ index }}" value="0" min="0" max="1"  title=""/>
                    </div>
            {% endfor %}
            </div>
            <br>
        {% endfor %}


        <div class="form-group">
            <div class="col-sm-{{ neuron.countRows }}">
                <button type="submit" class="btn btn-default btn-block">Work</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        function setColor(id) {
            if(document.getElementById(id).value == "1")
            {
                document.getElementById(id).style.backgroundColor = "red";
            }else{
                document.getElementById(id).style.backgroundColor = "white"
            }
        }
    </script>

{% endblock %}
