{% extends "default/index.html.twig" %}

{% block title%}
    Products
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

{% if computers|length > 0 %}

    <div class="alert alert-info">
        The computers list
    </div>


    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Model</div></th>
            <th><div class="zag">Cd</div></th>
            <th><div class="zag">Speed</div></th>
            <th><div class="zag">RAM</div></th>
            <th><div class="zag">HD</div></th>
            <th><div class="zag">Price</div></th>
        </tr>

            {% for obj in  computers %}
                <tr>
                    <td><div class="zag">{{ obj.item.id }}</div></td>
                    <td><div class="zag">{{ obj.computerCd.speed }}</div></td>
                    <td><div class="zag">{{ obj.speed }}</div></td>
                    <td><div class="zag">{{ obj.ram }}</div></td>
                    <td><div class="zag">{{ obj.hd }}</div></td>
                    <td><div class="zag">{{ obj.price }}</div></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% else %}

    <div class="alert alert-info">
        The compuers list is empty.
    </div>

{% endif %}

{% if notebooks|length > 0 %}

    <div class="alert alert-info">
        The notebooks list
    </div>


    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Model</div></th>
            <th><div class="zag">Speed</div></th>
            <th><div class="zag">RAM</div></th>
            <th><div class="zag">HD</div></th>
            <th><div class="zag">Screen</div></th>
            <th><div class="zag">Price</div></th>
        </tr>

            {% for obj in  notebooks %}
                <tr>
                    <td><div class="zag">{{ obj.item.id }}</div></td>
                    <td><div class="zag">{{ obj.speed }}</div></td>
                    <td><div class="zag">{{ obj.ram }}</div></td>
                    <td><div class="zag">{{ obj.hd }}</div></td>
                    <td><div class="zag">{{ obj.screen }}</div></td>
                    <td><div class="zag">{{ obj.price }}</div></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% else %}

    <div class="alert alert-info">
        The notebooks list is empty.
    </div>

{% endif %}

{% if printers|length > 0 %}

    <div class="alert alert-info">
        The printers list
    </div>


    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Model</div></th>
            <th><div class="zag">Type</div></th>
            <th><div class="zag">Color</div></th>
            <th><div class="zag">Price</div></th>
        </tr>

            {% for obj in  printers %}
                <tr>
                    <td><div class="zag">{{ obj.item.id }}</div></td>
                    <td><div class="zag">{{ obj.printerType.name }}</div></td>
                    <td><div class="zag">{{ obj.color }}</div></td>
                    <td><div class="zag">{{ obj.price }}</div></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% else %}

    <div class="alert alert-info">
        The printers list is empty.
    </div>

{% endif %}




{% endblock %}
