{% extends "default/index.html.twig" %}

{% block title%}
    Symptoms
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

{% if symptoms|length > 0 %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Id</div></th>
            <th><div class="zag">Name</div></th>
            <th><div class="zag">Actions</div></th>
        </tr>

            {% for obj in symptoms %}
                <tr>
                    <td><div class="zag">{{ obj.id }}</div></td>
                    <td><div class="zag">{{ obj.name }}</div></td>

                    <td>
                        <div class="zag">
                            <a href="{{ path('delete_symptom',{'id':obj.id, 'obj_id':obj_id}) }}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>


{% else %}

    <div class="alert alert-info">
        The list is empty.
    </div>

{% endif %}

{% endblock %}
