{% extends "default/index.html.twig" %}

{% block title%}
    Tweets
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

{% if objects|length > 0 %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><div class="zag">Id</div></th>
            <th><div class="zag">Created</div></th>
            <th><div class="zag">Text</div></th>
            <th><div class="zag">User</div></th>
            <th><div class="zag">Favorites</div></th>
            <th><div class="zag">Retweets</div></th>
            <th><div class="zag">Source</div></th>
        </tr>

            {% for obj in objects %}
                <tr>
                    <td><div class="zag">{{ obj.twitterId }}</div></td>
                    <td><div class="zag">{{ obj.createdAt }}</div></td>
                    <td><div class="zag">{{ obj.text }}</div></td>
                    <td><div class="zag">{{ obj.userName }}</div></td>
                    <td><div class="zag">{{ obj.favoriteCount }}</div></td>
                    <td><div class="zag">{{ obj.retweetCount }}</div></td>
                    <td><div class="zag">{{ obj.source | raw }}</div></td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

{% else %}

    <div class="alert alert-info">
        The list of tweets is empty.
    </div>

{% endif %}

{% endblock %}
